ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: purple;
    justify-content: space-between;
}

li{
    padding: 20px;
}
a{
    color: wheat;
}

body{
    margin: 0;
}

body{
    font-family: 'Akaya Kanadaka';
}

span{
    display: flex;
    align-items: center;
}

.mainBTN{
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.mainBTN:hover{
    text-decoration: underline;
}

body {
    text-align: center;
}



#forms{
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 95%;
    text-align: center;
}