ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: purple;
    justify-content: space-between;
}

li{
    padding: 20px;
}
a{
    color: wheat !important;
}

*{
    margin: 0;
    font-family:"Akaya Kanadaka";
}

span{
    display: flex;
    align-items: center;
}

.mainBTN{
    font-size: xx-large;
    text-decoration: none;
    color: white !important;
}

.mainBTN:hover{
    text-decoration: underline;
}

#ourTeam{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
}